@import "variables";
@import "mixins";
@import "reboot";

.sections {
  width: 90%;
  margin: 0 auto;
  > h3 {
    color: $primary-color;
    font-weight: bold;
  }
}

ul {
  padding-bottom: 15px;
}

.education {
  display: flex;
  margin-bottom: 15px;
  > p {
    width: 15%;
  }
  > div {
    width: 85%;
  }
}

.item {
  padding: 0 10px;
  background-color: $gray-light;
  > p:first-child {
    font-weight: bold;
  }
}
